div.shown {
    position: fixed;
    top: 0%;
    right: 0%;
    border: 3px solid black;
    border-radius: 20px;
    background: white;
    padding: 10px;
    display: shown;
}
div.hidden {
    position: fixed;
    top: 0%;
    right: 0%;
    border: 3px solid black;
    border-radius: 20px;
    background: white;
    padding: 10px;
    display: none;
}
input.hide {
    position: fixed;
    right: 15px;
}
input.sizer {
    position: fixed;
    right: 15px;
}
input.chooser {
    margin-right: 30px;
}